* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #F5F5F7;
    color: #B3B9CA;
}

.container {
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.navigator {
    border: 1px solid black;
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5%;
}

.division {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

img {
    width: 400px;
    padding-bottom: 1rem;
}

.values-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}