* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #F5F5F7;
    color: #B3B9CA;
}

.container {
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.navigator {
    border: 1px solid black;
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

img {
    width: 500px;
}